body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #000000;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: -30px;
    font-size: 20px;
}

.menu {
    background-color: #444;
    text-align: center; 
    display: flex;
    gap: 200px;
    justify-content: center;
    padding: 0 10px;
}

.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}
.menu a:hover {
    background-color: black;
}

.main {
padding: 20px;
}


.section {
    padding: 20px;
    border: 2px solid white;
    margin-bottom: 20px;
    border-radius: 6px;
}
.card {
    display: block;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

ul {
padding-left: 20px;
}

table {
width: 100%;
border-collapse: collapse;
}

th,td {
border: 1px solid #ccc;
padding: 10px;
text-align: left;
}

th {
background-color: #000000;
}



.footer {
    background-color: #444;
    color: black;
    text-align: right;
    padding: 5px;
    color: white;
}